<!-- your html code here -->

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Contact</h1>
      <p class="col-md-12 fs-4">Need any advice before you visit Dublin? No problem!<br>Ask us, we will tell you all the little secrets!</p>
    <div class="col-md-12 m-auto card justify-content-center text-dark bg-light p-2 text-end" style="width:700px;">
      <form>
        <div class="row mb-4 p-2">
            <label for="inputEmail3" class="col-sm-4 col-form-label"><strong>Your e-mail</strong></label>
              <div class="col-sm">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your e-mail">
              </div>
        </div>
        <div class="card-body">
           <div class="row mb-4">
             <label for="inputPassword3" class="col-sm-4 col-form-label"><strong>Your Message</strong></label>
              <div class="col-sm">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your comments here..."></textarea>
              </div>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>   
      </form>
    </div> 
  </div>
</div>


