<div class="h-100 p-5 bg-white border rounded-3">
    <div class="row p-4 bg-white ">
  <div class="col-md-8">
      <div class="card-body">
        <h2 class=" fw-bolder">Trinity College <span class="text-secondary">The soul of Dublin...</span> </h2>
        <p class="fs-4">Discover Trinity College Dublin, Ireland's oldest university, founded by Queen Elisabeth I in 1592. The main entrance at College Green boasts a magnificent front arch and wooden doorway. As you emerge from it, the cobbled Parliament Square opens out before you with the Campanile, or bell tower, in the centre, flanked by stone buildings featuring arched doorways and Doric columns. Amongst them is the Old Library Building, home to the Book of Kells, one of Ireland's greatest cultural treasures.</h5>
      </div>
    </div>
    <div class="col-4 col-sm-4 d-flex justify-content-center">
      <img src="assets/img/Trinity.webp?raw=true" width= 350px; height=350px; alt="foto" class="rounded-circle redonda">
    </div>
  </div>
  </div>