<!-- your html code here -->
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">You can not miss</h1>
      <p class="col-md-12 fs-4">Dublin is the perfect capital to discover by foot, enjoying its young and carefree atmosphere. It's also home to numerous landmarks, churches and museums that can't be missed. Discover the main places to see in Dublin and what to do in the city.</p>
      <div class="container">
        <div class="row">
          <div class="col-sm-4"><img src="https://www.viajardublin.com/img/temple-bar-dublin.jpg" class="img-thumbnail border-0 p-3" alt="bar">
            <h2 class="text-center">Temple Bar</h2>
            <p class="lh-sm text-center">Dublin’s cultural heart and one of the best districts to do a daytime and then a nighttime visit, when the bars and taverns are full of life. Bound by Dame Street and Liffey River, its narrow and cobblestone streets and charming architecture preserve the city’s pure essence.</p>
          </div>
          <div class="col-sm-4"><img src="https://www.siac.ie/assets/components/images/projects/1480335542.jpg" class="img-thumbnail border-0 p-3" alt="street">
            <h2 class="text-center">O'Connels Street</h2>
            <p class="lh-sm text-center">Is a street in the centre of Dublin, Ireland, running north from the River Liffey. It connects the O'Connell Bridge to the south with Parnell Street to the north and is roughly split into two sections bisected by Henry Street.</p>
          </div>
          <div class="col-sm-4"><img src="https://cdn2.civitatis.com/irlanda/dublin/galeria/big/phoenix-park.jpg" class="img-thumbnail border-0 p-3" alt="park">
            <h2 class="text-center">Phoenix Park</h2>
            <p class="lh-sm text-center">Situated less than 5km away from the city center, Phoenix Park is an important green lung for Dublin, as well as an enjoyable space to wander around.</p>
          </div>
        </div>
        </div>
      </div>
    </div>
