<!-- your html code here -->
<div class="h-100 p-5 bg-white border rounded-3">
    <div class="row p-4 bg-white ">
        <div class="col-12 col-lg-4 d-flex justify-content-center">
            <img src="https://www.101viajes.com/sites/default/files/castillo-dublin.jpg" width= 350px; height=350px; alt="foto" class="rounded-circle redonda ">
        </div>
        <div class="col-12 col-lg-8">
            <h2 class=" fw-bolder"> Dublin Castle <span class="text-secondary">A must see so any tourist...</span> </h2>
            <p class="fs-4">Dublin Castle is one of the most important buildings in Irish history. 
                From 1204 until 1922 it was the seat of English, and later British rule in Ireland.onstructed on elevated ground once occupied by an earlier Viking settlement, the old Castle stood approximately on the site of the present Upper Castle Yard. It remained largely intact until April 1684, when a major fire caused severe damage to much of the building. 
                <br>Despite the extent of the fire, parts of the medieval and Viking structures survived and can still be explored by visitors today.
            </p>
        </div>
    </div>
    

